.pokemon-stats-background {
  background: #1e293b;

  display: flex;
  align-items: top;
  justify-content: center;

  padding: 1rem;

  .pokemon-stats-container {
    background-color: #94a3b8;
    border-radius: 10px;

    width: 60rem;
    height: 100%;
    padding: 2rem;
  }

  .main-info {
    display: flex;
    justify-content: space-between;

    margin-bottom: 2rem;

    & img {
      width: 22rem;
      background: #1e293b;
      border-radius: 10px;
      padding: 2rem;
    }

    .specs {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;

      .name {
        color: black;
        font-weight: bold;
        font-size: 4rem;
      }

      .combat-specs {
        display: flex;
        flex-direction: column;
        justify-content: center;

        gap: 1.5rem;

        width: 22rem;
        height: 15rem;
        background: #1e293b;

        border-radius: 10px;

        & div {
          display: flex;
          justify-content: space-around;
          width: 100%;

          .spec {
            display: flex;
            flex-direction: column;
            align-items: center;

            span {
              color: white;
              font-weight: bold;
              font-size: 1.5rem;
            }

            .value {
              color: black;
              background: #94a3b8;
              padding-inline: 1rem;
              border-radius: 3px;
            }
          }
        }
      }
    }
  }
}
